*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery{
    flex-basis: 47%;
    background: #241e20;
    transform: scale(1.08);
}